In [3]:
import requests
import pandas as pd
import numpy as np
import pickle

In [40]:
df = pd.read_csv("London/London_historical_meo_grid.csv")
df.rename(columns={'utc_time': 'time',
                   'wind_speed/kph': 'wind_speed'
                  }, inplace=True)
df['time'] = pd.to_datetime(df['time'])
df.index = df['time']
df = df.sort_index()
group = df.groupby("stationName")
meo_group = {}
for name, g in group:
    meo_group[name] = g.sort_index()
f3 = open("London/meo_train.pkl","wb")
pickle.dump(meo_group, f3, True)
f3.close()
df.tail(3)

,stationName,longitude,latitude,time,temperature,pressure,humidity,wind_direction,wind_speed
time,,,,,,,,,
2018-03-27 05:00:00,london_grid_858,2.0,52.3,2018-03-27 05:00:00,6.91,1011.01,85.91,189.05,25.75
2018-03-27 05:00:00,london_grid_859,2.0,52.4,2018-03-27 05:00:00,6.79,1010.92,85.94,188.15,24.79
2018-03-27 05:00:00,london_grid_860,2.0,52.5,2018-03-27 05:00:00,6.74,1010.89,85.95,187.84,24.47

In [ ]:
f3 = open("London/meo_train.pkl","rb")
meo_group = pickle.load(f3)

In [36]:
nearst = {
    'GB0': 'london_grid_451', 'CD1': 'london_grid_388', 'HV1': 'london_grid_472', 'CD9': 'london_grid_409',
    'TD5': 'london_grid_366', 'GR4': 'london_grid_451', 'RB7': 'london_grid_452', 'TH4': 'london_grid_430',
    'HR1': 'london_grid_368', 'BL0': 'london_grid_409', 'GR9': 'london_grid_430', 'ST5': 'london_grid_408',
    'LH0': 'london_grid_346', 'KF1': 'london_grid_388', 'MY7': 'london_grid_388', 'LW2': 'london_grid_430',
    'GN3': 'london_grid_451', 'GN0': 'london_grid_451', 'CT3': 'london_grid_409', 'CR8': 'london_grid_408',
    'BX1': 'london_grid_472' # ,'CT2': 'london_grid_409'
}

In [6]:
f1 = open("London/air_processing.pkl","rb")
station_group = pickle.load(f1)
# for name in station_group:
#     print(station_group[name])
f2 = open("London/station_processing.pkl","rb")
station_position = pickle.load(f2)
# station_position

In [52]:
# merge the station_group value and the weather situation in air station points together
attr_need = ["temperature", "pressure", "humidity", "wind_direction", "wind_speed"]
for name in station_group:
    print(name)
    grid_id = nearst[name]
    for attr in attr_need:
        keep_values = meo_group[grid_id][attr].values
        station_group[name][attr] = keep_values
    # print(station_group[name])

BL0
BX1
CD1
CD9
CR8
CT3
GB0
GN0
GN3
GR4
GR9
HR1
HV1
KF1
LH0
LW2
MY7
RB7
ST5
TD5
TH4

In [75]:
# merge the station_group value and the holiday situation in air station points together
df_h = pd.read_csv("London/holiday_ld.csv")
holiday_dict = {}
date_list = df_h['date'].values
holiday_list = df_h['holiday'].values
for i in range(len(date_list)):
    holiday_dict[str(date_list[i])] = holiday_list[i]
for name in station_group:
    print(name)
    time_list = station_group[name].index.values
    temp_list = []
    for time in time_list:
        time = str(time)
        date = time[:4]+time[5:7]+time[8:10]
        temp_list.append(holiday_dict[date])
    station_group[name]['holiday'] = temp_list
#     print(station_group[name])

BL0
BX1
CD1
CD9
CR8
CT3
GB0
GN0
GN3
GR4
GR9
HR1
HV1
KF1
LH0
LW2
MY7
RB7
ST5
TD5
TH4

In [76]:
f4 = open("London/station_train.pkl","wb")
pickle.dump(station_group, f4, True)
f4.close()

In [4]:
f4 = open("London/station_train.pkl","rb")
station_group = pickle.load(f4)

In [1]:
from sklearn.model_selection import train_test_split

In [ ]:
# add features and feature engineering

In [ ]:
# create the whole data which combines Y (pollutions or differ_pollutions in the future 48 hours) and X (flatten features)
# convert the whole data into numpy
for name in station_group:
    print(name)
    PM25_list = station_group[name]['PM25_Concentration'].values
    PM10_list = station_group[name]['PM10_Concentration'].values
    NO2_list = station_group[name]['NO2_Concentration'].values
#     Y = #PM25_list[k1:K+49]

In [ ]:
# split the whole data into train and test

In [7]:
# station_group['ST5']